@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme {
  --color-brand: #adfa1d;
  --font-calSans: var(--font-calSans), ui-sans-serif, system-ui, sans-serif;
  --font-sans: var(--font-matter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
