/* inter-100 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: optional;
  src: url(/fonts/inter-v7-latin-100.woff2) format('woff2'),
    url(/fonts/inter-v7-latin-100.woff) format('woff');
}
/* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: optional;
  src: url(/fonts/inter-v7-latin-200.woff2) format('woff2'),
    url(/fonts/inter-v7-latin-200.woff) format('woff');
}
/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src: url(/fonts/inter-v7-latin-300.woff2) format('woff2'),
    url(/fonts/inter-v7-latin-300.woff) format('woff');
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/inter-v7-latin-regular.woff2) format('woff2'),
    url(/fonts/inter-v7-latin-regular.woff) format('woff');
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(/fonts/inter-v7-latin-600.woff2) format('woff2'),
    url(/fonts/inter-v7-latin-600.woff) format('woff');
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url(/fonts/inter-v7-latin-500.woff2) format('woff2'),
    url(/fonts/inter-v7-latin-500.woff) format('woff');
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url(/fonts/inter-v7-latin-700.woff2) format('woff2'),
    url(/fonts/inter-v7-latin-700.woff) format('woff');
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: optional;
  src: url(/fonts/inter-v7-latin-800.woff2) format('woff2'),
    url(/fonts/inter-v7-latin-800.woff) format('woff');
}
/* inter-900 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: optional;
  src: url(/fonts/inter-v7-latin-900.woff2) format('woff2'),
    url(/fonts/inter-v7-latin-900.woff) format('woff');
}

@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  scroll-behavior: smooth;
}

.animation-delay-2 {
  animation-delay: -2.2s;
}

.animation-delay-3 {
  animation-delay: -3.7s;
}

.animation-delay-4 {
  animation-delay: -4.2s;
}

@layer components {
  .prose img {
    @apply w-full mx-auto rounded-md shadow;
  }

  .prose figure,
  .prose figcaption {
    @apply !m-0;
  }
}
